ResumeBuilder/ResumeBuilder.csproj
ResumeBuilder/bin/Debug/ResumeBuilder.vshost.exe.config
ResumeBuilder/bin/Debug/output.aux
ResumeBuilder/bin/Debug/output.out
ResumeBuilder/bin/Debug/output.pdf
ResumeBuilder/bin/Debug/output.synctex.gz
ResumeBuilder/bin/Debug/output.tex
ResumeBuilder/obj/Debug/ResumeBuilder.csproj.FileListAbsolute.txt
ResumeBuilder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ResumeBuilder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ResumeBuilder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ResumeBuilder/packages.config
ResumeBuilderPlus/App.config
ResumeBuilderPlus/App.xaml
ResumeBuilderPlus/App.xaml.cs
ResumeBuilderPlus/Properties/AssemblyInfo.cs
ResumeBuilderPlus/Properties/Resources.Designer.cs
ResumeBuilderPlus/Properties/Resources.resx
ResumeBuilderPlus/Properties/Settings.Designer.cs
ResumeBuilderPlus/bin/Debug/Newtonsoft.Json.xml
ResumeBuilderPlus/bin/Debug/Res/Image/maxcvitemspacing.png
ResumeBuilderPlus/bin/Debug/Res/Image/mincvitemspacing.png
ResumeBuilderPlus/bin/Debug/ResumeBuilderPlus.exe.config
ResumeBuilderPlus/bin/Debug/ResumeBuilderPlus.vshost.exe.config
ResumeBuilderPlus/bin/Debug/ResumeBuilderPlus.vshost.exe.manifest
ResumeBuilderPlus/bin/Debug/ending.txt
ResumeBuilderPlus/bin/Debug/output.aux
ResumeBuilderPlus/bin/Debug/output.out
ResumeBuilderPlus/bin/Debug/output.pdf
ResumeBuilderPlus/bin/Debug/output.synctex.gz
ResumeBuilderPlus/bin/Debug/output.tex
ResumeBuilderPlus/bin/Debug/qualifiers.json
ResumeBuilderPlus/obj/Debug/App.g.cs
ResumeBuilderPlus/obj/Debug/App.g.i.cs
ResumeBuilderPlus/obj/Debug/GeneratedInternalTypeHelper.g.cs
ResumeBuilderPlus/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
ResumeBuilderPlus/obj/Debug/MainWindow.g.i.cs
ResumeBuilderPlus/obj/Debug/ResumeBuilderPlus.Properties.Resources.resources
ResumeBuilderPlus/obj/Debug/ResumeBuilderPlus.csproj.FileListAbsolute.txt
ResumeBuilderPlus/obj/Debug/ResumeBuilderPlus.g.resources
ResumeBuilderPlus/obj/Debug/ResumeBuilderPlus_Content.g.cs
ResumeBuilderPlus/obj/Debug/ResumeBuilderPlus_Content.g.i.cs
ResumeBuilderPlus/obj/Debug/ResumeBuilderPlus_MarkupCompile.lref
ResumeBuilderPlus/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ResumeBuilderPlus/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ResumeBuilderPlus/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ResumeBuilderPlus/obj/Debug/UI/EducationControl.baml
ResumeBuilderPlus/obj/Debug/UI/EducationControl.g.cs
ResumeBuilderPlus/obj/Debug/UI/EducationControl.g.i.cs
ResumeBuilderPlus/obj/Debug/UI/InsertTemplateTextDialog.baml
ResumeBuilderPlus/obj/Debug/UI/InsertTemplateTextDialog.g.cs
ResumeBuilderPlus/obj/Debug/UI/InsertTemplateTextDialog.g.i.cs
ResumeBuilderPlus/obj/Debug/UI/LockableCheckbox.baml
ResumeBuilderPlus/obj/Debug/UI/LockableCheckbox.g.cs
ResumeBuilderPlus/obj/Debug/UI/LockableCheckbox.g.i.cs
ResumeBuilderPlus/obj/Debug/UI/MainWindow.baml
ResumeBuilderPlus/obj/Debug/UI/MainWindow.g.cs
ResumeBuilderPlus/obj/Debug/UI/MainWindow.g.i.cs
ResumeBuilderPlus/obj/Debug/UI/ProjectsControl.baml
ResumeBuilderPlus/obj/Debug/UI/ProjectsControl.g.cs
ResumeBuilderPlus/obj/Debug/UI/ProjectsControl.g.i.cs
ResumeBuilderPlus/obj/Debug/UI/SkillsControl.baml
ResumeBuilderPlus/obj/Debug/UI/SkillsControl.g.cs
ResumeBuilderPlus/obj/Debug/UI/SkillsControl.g.i.cs
ResumeBuilderPlus/obj/Debug/UI/TagControl.baml
ResumeBuilderPlus/obj/Debug/UI/TagControl.g.cs
ResumeBuilderPlus/obj/Debug/UI/TagControl.g.i.cs
ResumeBuilderPlus/qualifiers.json
packages/Extended.Wpf.Toolkit.2.5/Extended.Wpf.Toolkit.2.5.nupkg
packages/Extended.Wpf.Toolkit.2.5/tools/install.ps1
packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nupkg
packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/tools/install.ps1
packages/Newtonsoft.Json.7.0.1/Newtonsoft.Json.7.0.1.nupkg
packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/tools/install.ps1
